{% extends 'layouts/base.html' %} 

{% load static %}

{% block content %}
<h1>{{ title }}</h1>
<img src="{% static 'tarifas.jpg' %}" alt="" width="500"/>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore libero
    nostrum consequuntur totam necessitatibus, repellendus quisquam animi, dolor
    vitae debitis voluptatem quibusdam perspiciatis ratione doloribus vel error
    ut harum facilis fugit? Libero excepturi modi illum doloribus quisquam ad
    unde non totam, expedita maiores. Laudantium, commodi omnis. Dolore iste
    tempore dolores. Tempore aliquam mollitia nulla culpa adipisci expedita
    eveniet, vel ut ipsa repellat quia magnam, dolorum voluptas? Ab, recusandae
    voluptatum fuga excepturi ipsam ea, doloribus adipisci tenetur aliquid
    impedit quas sint esse odit quia qui explicabo! Sunt optio error odit
    necessitatibus quae, commodi doloremque ipsam sit impedit soluta maiores,
    aliquam rerum!
</p>
{% endblock %}
